body,
html {
    height: 100%;
}

/* NAVBAR COMIENZO*/
.navbar {
    font-family: 'League Spartan', sans-serif;
}

.navboton {
    margin: 1%;
    transition: 0.4s;
    color: #000000;
    font-weight: bold;
}

.navboton:hover {
    transition: 0.3s;
    color: white;
    background-color: #ff0000;
}

.navbar-brand:hover {
    color: #ff0000;
    cursor: default;
}

/* NAVBAR END*/


/*MISCELANEAS*/
.rojo {
    color: #ff0000;
}

.amarillo {
    color: #ffc200;
}

.negro {
    color: #000000;
}

.bold {
    font-weight: bold;
}

/*MISCELANEAS*/


/* HERO COMIENZO*/
.hero-image {
    background-image: linear-gradient(rgba(92, 92, 92, 0.596), rgba(77, 77, 77, 0.096)), url("Imagenes/hero1.jpg");

    /* Set a specific height */
    height: 130%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.hero-image h1 {
    color: #ffc400;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.562);
    font-family: 'League Spartan', sans-serif;
    font-weight: bolder;
}

.p-hero {
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.562);
}

.botonhero {
    border-color: #ffc400ea;
    border-width: 5px;
    border-radius: 0;
    background-color: #ffc400ea;
    color: #ffffff;
    font-weight: bolder;
    transition: 0.3s;
}

.botonhero:hover {
    transition: 0.3s;
    background-color: #ff0000;
    border-color: #ff0000;
}

/* HERO FIN*/

/*CONOCE A COMIENZO*/
.conoce {
    margin-top: 7%;
}

.h2conoce {
    color: #ff0000;
    font-weight: bolder;
    font-family: 'Montserrat', sans-serif;
}

p {
    font-family: 'Montserrat', sans-serif;
}

.botonamarillo {
    border-color: #ffc200;
    border-width: 5px;
    border-radius: 0;
    color: #ffc200;
    font-weight: bolder;
    transition: 0.3s;
}

.botonamarillo:hover {
    transition: 0.3s;
    color: #ff0000;
    background-color: #ffc200;
    border-color: #ff0000;
}

/*CONOCE A FIN*/


/*GALERIA INICIO*/

.obras {
    font-family: 'League Spartan', sans-serif;
    color: #000000;
}

#galeria {
    margin-top: 5%;
    margin-bottom: 5%;
    overflow-x: hidden;
}

h2 {
    font-family: 'League Spartan', sans-serif;
}

.cuadro1 {
    background-color: #ff0000;
    color: white;
    text-align: start;
}

.cuadro1texto {
    padding-top: 5%;
    padding-left: 5%;
}

.botoncuadro1 {
    margin-top: 2%;
    margin-bottom: 5%;
    border-color: #ffc200;
    border-width: 5px;
    border-radius: 0;
    color: #ff0000;
    font-weight: bolder;
    transition: 0.3s;
    background-color: #ffc200;
}

.botoncuadro1:hover {
    transition: 0.3s;
    color: #ff0000;
    background-color: #ffffff;
    border-color: #ffffff;
}

.cuadro2 {
    background-color: #000000;
    color: white;
    text-align: end;
}

.cuadro2texto {
    padding-top: 8%;
    padding-right: 5%;
}

.botoncuadro2 {
    margin-top: 2%;
    margin-bottom: 5%;
    border-color: #ffffff;
    border-width: 5px;
    border-radius: 0;
    color: #ffffff;
    font-weight: bolder;
    transition: 0.3s;

}

.botoncuadro2:hover {
    transition: 0.3s;
    color: #ff0000;
    background-color: #ffffff;
    border-color: #ffffff;
}

/*GALERIA FIN*/


/*DONDE INICIO*/

.dondetexto {
    color: #000000;
    font-family: 'Montserrat', sans-serif;
}

.dondetexto h2 {
    color: #ff0000;
    font-family: 'League Spartan', sans-serif;
    margin-bottom: 0%;
}

.direccion {
    font-family: 'League Spartan', sans-serif;
}

.botonmapa {
    margin-top: 2%;
    margin-bottom: 5%;
    border-color: #ff0000;
    border-width: 5px;
    border-radius: 0;
    color: #ff0000;
    font-weight: bolder;
    transition: 0.3s;

}

.botonmapa:hover {
    transition: 0.3s;
    color: #ffffff;
    background-color: #ff0000;
    border-color: #ff0000;
}

.mapa{
    max-width: 700px;
}
.mapaembed{
    width: 100%;
}

/*DONDE FIN*/


/* ENTRADAS INICIO */

#entradas {
    overflow-x: hidden;
    color: #000000;

}

.precios {
    padding: 2%;
}

#entradas h2 {

    color: #ff0000;
    padding-right: 3%;
}
.botoncerrar {
   border-color: #000000;
   background-color: #000000;
   border-width: 5px;
   border-radius: 0;
   color: #ffffff;
   font-weight: bolder;
   transition: 0.3s;    
}

.botoncerrar:hover {
    border-color: #000000;
    background-color: #000000;
    border-width: 5px;
    border-radius: 0;
    color: #ffffff;
    font-weight: bolder;
    transition: 0.3s;    
 }

.modal-content{
    border-radius: 0%;

}
.modal-title {
    font-family: 'League Spartan', sans-serif;
    color: #ff0000;
    font-weight: bolder;}
 

/* ENTRADAS FIN */

/* FOOTER INICIO */
footer {
    color: #ff0000;
    font-weight: bolder;
    font-family: 'League Spartan', sans-serif;
}

.footer-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.26), rgba(255, 0, 0, 0.664)), url("Imagenes/footer.jpg");

    /* Set a specific height */
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.footer-text {
    text-align: center;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.footer-text a, .footer-text a:hover, .footer-text a:visited, .footer-text a:link, .footer-text a:active
{
    
    color: #ffffff;
    text-decoration: none;
}

/* FOOTER FIN */

